<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ion-header>

<ion-footer>
  <ion-toolbar align="center">
    <ion-button slot="start" color="tertiary" (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="volver()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="llamar()"><ion-icon name="call"></ion-icon></ion-button>
    <ion-button slot="end" color="tertiary" (click)="configurar()"><ion-icon name="build"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>