ion-content {
    --ion-background-color: rgb(230, 230, 230);
}

ion-header {
    --ion-background-color: #6c33a2;
}

ion-title {
    color: white;
}

ion-button {
    --ion-color: rgb(152, 238, 153);
}

ion-footer {
    --ion-background-color: darkgray;
}