<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ion-header>
<!-- <ion-content> 
  My ID is: {{ id }} 
  <p> Nombre: {{ document.data.nombre }} </p>
  <p> Descripcion: {{ document.data.descripcion }} </p>
</ion-content> -->
<ion-content>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="document.data.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="document.data.descripcion"></ion-input>
    </ion-item>
    <ion-button id="botonModificar" (click)="clicBotonModificar()">Guardar personaje</ion-button>
    <ion-button id="botonBorrar" (click)="clicBotonBorrar()">Borrar personaje</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-icon name="build"></ion-icon>
      <ion-icon name="call"></ion-icon>
      <ion-icon name="cash"></ion-icon>
  </ion-toolbar>
</ion-footer>
