<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ion-header>
<!-- <ion-content>
  My ID is: {{ id }} 
  <p> Nombre: {{ document.data.nombre }} </p>
  <p> Descripcion: {{ document.data.descripcion }} </p>
</ion-content> -->
<ion-content>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="document.data.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-textarea [(ngModel)]="document.data.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Saga</ion-label>
      <ion-textarea [(ngModel)]="document.data.saga"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Primera aparición</ion-label>
      <ion-textarea [(ngModel)]="document.data.aparicion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Url de la imagen</ion-label>
      <ion-textarea [(ngModel)]="document.data.imagen"></ion-textarea>
    </ion-item>
    <ion-button class="botones" id="botonModificar" (click)="clicBotonModificar()">Guardar personaje</ion-button>
    <ion-button class="botones" id="botonBorrar" (click)="presentAlertConfirm()">Borrar personaje</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button slot="start" color="tertiary" (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="volver()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button slot="end" color="tertiary" (click)="configurar()"><ion-icon name="build"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
