<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ion-header>
<ion-content>
  <!-- <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="PersonajeRPG.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="PersonajeRPG.descripcion"></ion-input>
  </ion-item> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="clicBotonInsertar()" color="primary"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
    <ion-item *ngFor="let documentoPersonaje of arrayColeccionPersonajes" (click)="selecPers(documentoPersonaje)">
      <ion-grid>
        <ion-row>
          <p>_Nombre: <b>{{documentoPersonaje.data.nombre}}</b></p>
          <p>_Descripcion: <b>{{documentoPersonaje.data.descripcion}}</b></p>
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-content>
