<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="PersonajeRPG.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="PersonajeRPG.descripcion"></ion-input>
  </ion-item> -->
    <!-- <ion-button (click)="clicBotonInsertar()">Añadir personaje</ion-button> -->
    <ion-fab-button (click)="clicBotonInsertar()" color="primary">Añadir personaje</ion-fab-button>
    <ion-item *ngFor="let documentoPersonaje of arrayColeccionPersonajes" (click)="selecPers(documentoPersonaje)">
      <ion-grid>
        <ion-row>
          <p>_Nombre: <b>{{documentoPersonaje.data.nombre}}</b></p>
          <p>_Descripcion: <b>{{documentoPersonaje.data.descripcion}}</b></p>
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-content>
